<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Register{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" type="text/css" href="{% static 'homepagestyle.css' %}"/>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="{% url 'register:user_dashboard'%}"> Web Cabs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'bookings:bookings_create' %}">
            <span class="fas fa-map-marker" aria-hidden="true"></span>
            New Booking
            <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bookings:my_bookings' %}">My Bookings</a>
      </li>
      <li style="float : right" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% comment %} <a class="dropdown-item" href="{% url 'accounts:user_detail' pk=user.pk %}">Profile</a> {% endcomment %}
          <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="{% url 'register:user_logout' %}">Logout</a>
        </div>
      </li>
      {% comment %} <li  style="float : right;" class="nav-item ">
        <a class="nav-link " href="{% url 'register:user_logout' %}">Logout</a>
      </li> {% endcomment %}
    </ul>
  </div>
</nav>


 <div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 col-lg-12 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
    </main>
  </div>
</div>
<div class="container-fluid" style="padding-bottom: 30px"> 
   <div class="row">
  <div class="col-lg-3  ">
    <div class="container">
      <div class="container text-white" style="background-color:#00796b">
        <!-- {% if hehehe.count == 0 %}
        {% else %}
        <div class="text-center">
          Now showing
        </div>
        {% endif %} -->

        {% for he in hehehe %}
        <p class='mt-1' style='padding:0; margin:0;'>{{he}}</p>
        {% endfor %}
      </div>
      <div class="card p-0 mt-3">
        <div class="card-body">
          <div class="container">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              <div class="text-center">
                <button type="submit" class="btn btn-success ">Filter</button>
              </div>
            </form> <hr>
          </div>
        </div>
      </div>
    </div>
    </div> 
    <div class="col-lg-9">
    <div class="container">
      <div class="row row-cols-3">
        {% comment %} <div class="card-group "> {% endcomment %}
          <!-- <div class="col-md-4"> -->
          
          
          {% if custom.count == 0 %}
          <div class="container">
            <h1 class='mt-5' style="text-align:center; color:#00796b;" id="no_booking">No Bookings</h1>
          </div>
          {% endif %}



          {% for booking in custom %}
          <div class="col">
            <!-- {% if user.is_member %}
              sjfhskjhf
              {% endif %}
              {% if request.user in booking.members.all %}
              hahahahahah
              {% endif %} -->
            {% if user.username == booking.creator %}
              <div class="card text-white border-secondary mx-auto mt-3 mb-4 " style="background-color:rgb(23, 38, 87); border-radius=5px;">
            {% else %}
              <div class="card text-white border-secondary mx-auto mt-3 mb-4 " style="background-color:rgb(23, 38, 87); border-radius=5px;">
                {% endif %}

                <div class="card-body" style='border: 1px solid rgb(23, 38, 87) '>
                    <div class="card-title text-center">

                    </div>
                  <div class="card-text">
                    <h6>From : {{booking.start_position}}</h6>
                    <h6>To : {{booking.destination}}</h6>
                    <h6>Date : {{booking.date|date:'d-m-Y'}}</h6>
                    <h6>Time : {{booking.time}}</h6>
                    <h6>Group-Admin : {{booking.creator}}</h6>
                    <h6>No. of Members : {{booking.members.count|add:"1"}}<small style='text-muted'> /{{booking.max_members}}</small></h6>
                    <br>
                      <div class="card-link">
                      {% if user.username == booking.creator %}
                      <a href="{% url 'bookings:bookings_update' pk=booking.pk %}" class='btn btn-warning btn-sm '>Edit</a>
                      <a href="{% url 'bookings:bookings_delete' pk=booking.pk %}" class='btn btn-danger btn-sm '>Delete</a>
                      {% else %}
                          {% if booking.members.count|add:"1" < booking.max_members %}
                              <a href="{% url 'bookings:group_join' pk=booking.pk %}" class="btn btn-success btn-sm">Join</a>
                          {% else %}
                              <a href="{% url 'bookings:group_join' pk=booking.pk %}" class="btn btn-success btn-sm disabled">Join</a>
                          {% endif %}
                          <a href="{% url 'bookings:group_leave' pk=booking.pk %}" class='btn btn-info btn-sm'>Leave</a>
                      {% endif %}

                      <a href="{% url 'bookings:group_info' pk=booking.pk %}" class='btn btn-secondary btn-sm'>Info</a>
                              </div>
                  </div>
                </div>

              </div>
            </div>
            {% endfor %}
            <br>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>

















<!--
{% if object_list %}
<h1> Here are all the bookings</h1>
    {% for bookings in object_list %}
        <ul>
          <li>{{bookings.destinations}}</li>
        </ul>
    {% endfor %}
{% else %}
    <h3>There are no bookings.</h3>
{% endif %}
-->
<!--
      <div class="container-fluid mt-5" style='background-color:  rgb(28, 26, 27); position: fixed; bottom: 1px; padding: 10px;>
        <div class="row">
          <div class="col-md-3" style='border-right:1px solid rgb(62, 63, 64)'>
            <h5 style='color:rgb(176, 172, 175);'>IIT Guwahati</h5>
            <a href="http://www.iitg.ac.in/" style="color:rgb(227, 228, 230)">IIT Guwahati</a>
            <br>
          </div>
          <div class="col-md-6" style="border-right:1px solid rgb(62, 63, 64)">
            <h5 class='text-center' style='color:rgb(176, 172, 175); align:center;'>Contact Us</h5>
            <div class="row">
              <div class="col-6 " style="color:rgb(227, 228, 230)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
              </div>
              <div class="col-6 " style="color:rgb(227, 228, 230)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>

              </div>
            </div>
            <br>
          </div>
          <div class="col-md-3" style='align:right;'>
            <h5 style='color:rgb(176, 172, 175)'>Follow Us</h5>
            <a href="https://www.iitg.ac.in/stud/gymkhana/technical/home/CodingHome.html" style="color:rgb(227, 228, 230)">Coding Club</a><br>
            <a href="https://www.facebook.com/codingclubiitg/" style="color:rgb(227, 228, 230)">facebook</a>
          </div>
        </div>

      </div>

-->
<!-- Footer -->
{% comment %} <footer class="page-footer font-small blue pt-4" style="background: #212529 ; color: white; padding: 30px;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-2 mt-md-0 mt-3">

        <!-- Content -->
        <h5 style='color:rgb(176, 172, 175);'>IIT Guwahati</h5>
        <a href="http://www.iitg.ac.in/" style="color:rgb(227, 228, 230)">IIT Guwahati</a>
        <br>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-1 mt-md-0 mt-3"></div>
      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <h5 class='text-center' style='color:rgb(176, 172, 175); align:center;'>Contact Us</h5>
            <div class="row">
              <div class="col-6 " style="color:rgb(227, 228, 230)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
              </div>
              <div class="col-6 " style="color:rgb(227, 228, 230)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>

              </div>
            </div>
            <br>
      </div>

      <div class="col-md-1 mt-md-0 mt-3"></div>
        <!-- Links
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>-->
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.iitg.ac.in/stud/gymkhana/technical/home/CodingHome.html" style="color:rgb(227, 228, 230)">Coding Club</a>
          </li>
          <li>
            <a href="https://www.facebook.com/codingclubiitg/" style="color:rgb(227, 228, 230)">facebook</a
          </li>
          <li>
            <a href="https://www.instagram.com/codingclubiitg/" style="color:rgb(227, 228, 230)">Instagram</a>
          </li>
          <li>
            <a href="mailto:techsec@iitg.ac.in" style="color:rgb(227, 228, 230)">Mail</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- Copyright -->

</footer> {% endcomment %}
<!-- Footer -->
<!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>