{% extends 'register/base.html' %}


{%block title%}
Info
{% endblock %}



{% block content %}
<div class="container" style='width:30rem background-color:rgb() ;'>
      <div class="card text-white border-secondary mx-auto mt-3 mb-4 " style="background-color:rgb(23, 38, 87); border-radius=5px;">
      <div class="col-lg-11">
      <div class="card-body" style='border: 1px solid rgb(23, 38, 87) '>
                    <div class="card-title text-center">

                    </div>
      <div class="card-text">
        <h6>From : {{custom.start_position}}</h6>
        <h6>To : {{custom.destination}}</h6>
        <h6>Date : {{custom.date|date:'d-m-Y'}}</h6>
        <h6>Time : {{custom.time}}</h6>
        <h6>Group-Admin : {{custom.creator}}</h6>
        <h6>No. of Members : {{custom.members.count|add:"1"}}<small style='text-muted'> /{{custom.max_members}}</small></h6>
      </div>
      </div>
      </div>
      </div>


</div>
{% endblock %}
