@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v10/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
    background: white url("images/cab2.png");
}
#cab{
    margin: auto;
    padding: 10px;
    height: 120%;
    width: 150%;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}
#signupbtn{
    margin-top: 10px;
    text-align: center;
}
#form-border{
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 75px;
    background-color: white;
}
#login-form{
    padding: 20px;
}
.texty{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    padding-top: 10px;
}
#pad{
    padding: 20px;
}